/*
==================================================
Mixins
==================================================
*/

/*
--------------------------------------------------
Typography
--------------------------------------------------
*/

// Font Face
@mixin font-face($font-name, $font-path, $font-weight: normal) {
  @font-face {
    font-family: quote($font-name);
    font-weight: $font-weight;
    src: url($font-path + $font-name + '.eot');
    src: url($font-path + $font-name + '.eot?#iefix')  format('embedded-opentype'),
    url($font-path + $font-name + '.woff') format('woff'),
    url($font-path + $font-name + '.ttf')  format('truetype'),
    url($font-path + $font-name + '.svg##{$font-name}')  format('svg');
  }
}
