/*
==================================================
Mixins
==================================================
*/

/*
--------------------------------------------------
Typography
--------------------------------------------------
*/

// Variable Fonts
@mixin font-face-variable($font-family-name, $font-file-name) {
  @font-face {
    font-family: quote($font-family-name);
    src: url($font-file-name + '.woff') format("woff-variations"),
    url($font-file-name + '.woff') format("woff");
    font-display: fallback;
  }
}

// Font Face
@mixin font-face($font-family-name, $font-file-name, $font-weight: normal) {
  @font-face {
    font-family: quote($font-family-name);
    font-weight: $font-weight;
    src: url($font-file-name + '.eot');
    src: url($font-file-name + '.eot?#iefix') format('embedded-opentype'),
    url($font-file-name + '.woff') format('woff'),
    url($font-file-name + '.woff2') format('woff2'),
    url($font-file-name + '.ttf') format('truetype'),
    url($font-file-name + '.svg##{$font-family-name}') format('svg');
  }
}


/*
--------------------------------------------------
Directions
--------------------------------------------------
*/

@mixin html-direction($direction: ltr) {
  html[dir=#{$direction}] {
    @content
  }
}
