/*
==================================================
Mixins
==================================================
*/

/*
--------------------------------------------------
Typography
--------------------------------------------------
*/

// Variable Fonts
@mixin font-face-variable($font-family-name, $font-file-name) {
  @font-face {
    font-family: quote($font-family-name);
    src: url($font-file-name + '.woff') format("woff-variations"),
    url($font-file-name + '.woff') format("woff");
    font-display: fallback;
  }
}

// Font Face
@mixin font-face($font-family-name, $font-file-name, $font-weight: normal) {
  @font-face {
    font-family: quote($font-family-name);
    font-weight: $font-weight;
    src: url($font-file-name + '.eot');
    src: url($font-file-name + '.eot?#iefix') format('embedded-opentype'),
    url($font-file-name + '.woff') format('woff'),
    url($font-file-name + '.woff2') format('woff2'),
    url($font-file-name + '.ttf') format('truetype'),
    url($font-file-name + '.svg##{$font-family-name}') format('svg');
  }
}


/*
--------------------------------------------------
Directions
--------------------------------------------------
*/

@mixin html-direction($direction: ltr) {
  html[dir=#{$direction}] {
    @content
  }
}

/*
--------------------------------------------------
Margin
--------------------------------------------------
*/

@mixin margin-x($right, $left: null) {
  @if not($left) {
    $left: $right;
  }
  margin-right: $right;
  margin-left: $left;
}

@mixin margin-y($top, $bottom) {
  @if not($bottom) {
    $bottom: $top;
  }
  margin-top: $top;
  margin-bottom: $bottom;
}

/*
--------------------------------------------------
Padding
--------------------------------------------------
*/

@mixin padding-x($right, $left: null) {
  @if not($left) {
    $left: $right;
  }
  padding-right: $right;
  padding-left: $left;
}

@mixin padding-y($top, $bottom) {
  @if not($bottom) {
    $bottom: $top;
  }
  padding-top: $top;
  padding-bottom: $bottom;
}
