/*
==================================================
Utilities
==================================================
*/

/*
--------------------------------------------------
Interactions
--------------------------------------------------
*/

.user-select-none {
  user-select: none;
}

/*
--------------------------------------------------
Directions
--------------------------------------------------
*/

.is-ltr {
  direction: ltr;
}

.is-rtl {
  direction: rtl;
}

/*
--------------------------------------------------
Typography
--------------------------------------------------
*/

.text-dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.text-dashed {
  text-decoration: underline;
  text-decoration-style: dashed;
}

/*
--------------------------------------------------
Cursor
--------------------------------------------------
*/

.cursor-pointer {
  cursor: pointer;
}


/*
--------------------------------------------------
Filters
--------------------------------------------------
*/
