/*
==================================================
Utilities
==================================================
*/


/*
--------------------------------------------------
Directions
--------------------------------------------------
*/

.is-ltr {
  direction: ltr;
}

.is-rtl {
  direction: rtl;
}
